{% extends "base.html" %}

{% block content %}
    <div class="container">
    
      <div class="starter-template">
        <h1>{{description1}} {{username}}</h1>
        <p class="lead">{{description2}}</p>
      </div>
      {% if current_user.is_authenticated %}
        <div class="row">
          <div class="col-sm-4">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Дата создания аккаунта {{login}}:</h5>
                  <h1 class="card-text" style="color:rgb(47, 161, 236)">{{date}}</h1>
              </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Всего времени записано</h5>
                  <h1 class="card-text" style="color:green">{{all_time}} час.</h1>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="card">
            <div class="card-body">
                <img
                    src="/profile_image"
                    alt="Вы ещё не загрузили изображение"/>
            </div>
            </div>
          </div>
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Просмотреть/изменить токен для API
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <form class="input-group container" method="post">
                      {{ form.hidden_tag() }}
                      <div class="input-group mb-3">
                        <div class="col">
                            {{ form.submit(type="submit", class="btn btn-primary") }}
                        </div>
                        <div class="col">
                          <div class="alert alert-dark" role="alert">
                              {{token}}
                            </div>
                        </div>
                      </div>
                        {% if error_add_form %}
                          <div class="alert alert-danger" role="alert">
                            {{error_add_form}}
                          </div>
                        {% endif %}
                    </form>
                  </div>
                </div>
            </div>
        </div>
       {% else %}
        <p>
            <img src="{{url_for('static', filename='img/Time_picture.png')}}" 
            alt="здесь должна была быть картинка, но не нашлась">
        </p>
       {% endif %}
    </div>
{% endblock %}