{% extends "base.html" %}

{% block content %}
    <div class="container">
    
      <div class="starter-template">
        <h1>{{description1}} {{username}}</h1>
        <p class="lead">{{description2}}</p>
      </div>
      {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Дата создания аккаунта {{login}}:</h5>
                    <h1 class="card-text" style="color:rgb(47, 161, 236)">{{date}}</h1>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Всего времени записано</h5>
                    <h1 class="card-text" style="color:green">{{all_time}} час.</h1>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                <div class="card-body">
                    <img
                        src="/profile_image"
                        alt="Вы ещё не загрузили изображение"
                        width="800px" height="450px" />
                </div>
                </div>
        </div>
       {% else %}
        <p>
            <img src="{{url_for('static', filename='img/Time_picture.png')}}" 
            alt="здесь должна была быть картинка, но не нашлась">
        </p>
       {% endif %}
{% endblock %}