
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
        <h1>{{description1}}</h1>
        <p class="lead">{{description2}}</p>
    </div>
    {% if current_user.is_authenticated %}
        <div id='chart' class='chart'></div>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
        </script>

        <h3>Настройки поиска</h3>
        <form class="input-group container" method="post">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3">
              <div class="col">
                  <label for="floatingInput1">{{ form.activities.label }}</label>
                  {{ form.activities(class="form-select", id="floatingInput1") }}
              </div>
              <div class="col">
                  <label for="floatingInput2">{{ form.from_date.label }}</label>
                  {{ form.from_date(class="form-control", id="floatingInput2") }}
              </div>
              <div class="col">
                  <label for="floatingInput3">{{ form.to_date.label }}</label>
                  {{ form.to_date(class="form-control", id="floatingInput3") }}
              </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </div>
                <div class="col">
                  {{ form.to_default(type="submit", class="btn btn-warning") }}
                </div>
            </div>
        </form>

    {% else %}
        <p>
        <img src="{{url_for('static', filename='img/Time_picture.png')}}" 
        alt="здесь должна была быть картинка, но не нашлась">
        </p>
    {% endif %}
  </div>

{% endblock %}